version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: artisian_bakery
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Test1234
      POSTGRES_DB: artisian_bakery
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: artisian_bakery_redis
    ports:
      - "6380:6379"
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
