services:
  db:
    image: postgres:latest
    container_name: artisian_bakery_db
    environment:
      POSTGRES_USER: postgres      
      POSTGRES_PASSWORD: Test12345
      POSTGRES_DB: artisian_bakery
      POSTGRES_HOST_AUTH_METHOD: md5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: artisian_bakery_redis
    ports:
      - "6380:6379"
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s

volumes:
  postgres_data:
  redis_data:
